<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.barometer"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:icon="@mipmap/icon"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.ProjectJava"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB4OADpyJ_lvjTWfOhnNXHe5NZGIrQUXW8" />

        <activity android:name=".UI.bench.BenchActivity" />
        <activity android:name=".UI.bench.BenchResultsActivity"/>
        <activity android:name=".UI.overheadPress.OverheadPressActivity"/>
        <activity android:name=".UI.overheadPress.OverheadPressResultsActivity"/>
        <activity android:name=".UI.running.RunActivity" />
        <activity android:name=".UI.running.RunResultsActivity" />
        <activity android:name=".UI.ForcaActivity"/>
        <activity android:name=".UI.CardioActivity"/>
        <activity android:name=".UI.EndWorkoutActivity"/>
        <activity android:name=".UI.ExerciseDetailsActivity"/>
        <activity android:name=".UI.WorkoutDetailsActivity"/>
        <activity android:name=".UI.WorkoutHistoryActivity"/>
        <activity android:name=".UI.MainActivity"/>
        <activity android:name=".UI.WorkoutPremadeDetailsActivity"/>
        <activity android:name=".UI.WorkoutPremadeActivity"/>
        <activity android:name=".UI.WorkoutTypeActivity"/>
        <activity android:name=".UI.ProfileActivity"/>
        <activity android:name=".UI.BeginningActivity"/>
        <activity android:name=".UI.auth.RegisterActivity"/>
        <activity android:name=".UI.auth.LoginActivity"/>
        <activity android:name=".UI.auth.AuthenticationActivity"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>